/**
 * Created by Vikas Sharma on 7/28/15.
 */
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<p>
    Hello, <b>{{firstName}}</b> you signed up on TuLi platform using this email address <br>
    Please confirm your email by clicking on button below<br>
    <a href = {{link}} class="btn btn-primary" role="button">Confirm this email address</a> <br>
    If it were not you, You can safely ignore this email.
</p>
</body>
</html>